# API Configuration
NEXT_PUBLIC_API_URL=/api
BACKEND_URL=http://72.60.186.49:3000

# JWT Configuration
JWT_SECRET=y"your_jwt_secret_keysdhfkasfaf"

# App Configuration
NEXT_PUBLIC_APP_NAME=Admin Dashboard
NEXT_PUBLIC_APP_URL=http://localhost:8080