# API Configuration
NEXT_PUBLIC_API_URL=/api
BACKEND_URL=https://api.m3alem.group

# JWT Configuration
JWT_SECRET="your_jwt_secret_keysdhfkasfaf"

# App Configuration
NEXT_PUBLIC_APP_NAME=Admin Dashboard
NEXT_PUBLIC_APP_URL=http://localhost:8080